{% extends 'main.html' %}

{% load diskFilters %}

{% block navbarBrand %}
    Rename
{% endblock %}

{% block diskActive %}
    active
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>
                Please enter the new name for <b>{{ fileName }}</b>
            </p>
            <form action="./" method="post">
                {% csrf_token %}
                <input type="text" class="form-control" style="width: 80%;max-width: 300px;" name="newName">
                <br>
                <button type="submit" class="btn btn-default btn-fill">Submit</button>
            </form>
        </div>


    </div>
{% endblock %}