{% extends 'main.html' %}

{% load diskFilters %}

{% block navbarBrand %}
    Disk
{% endblock %}

{% block diskActive %}
    active
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title" style="display: inline-block">
                        {% for crumb in crumbs %}
                            <a href="/disk/file/list/{{ crumb.prefix }}">
                                {{ crumb.name }}
                            </a>
                            {% if not forloop.last %} > {% endif %}
                        {% endfor %}
                    </h4>
                    <div style="float: right;">
                        <a class="btn btn-default btn-fill" href="/disk/file/upload/{{ prefix }}">Upload</a>
                    </div>
{#                    <p class="category">Here is a subtitle for this table</p>#}
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                        <th></th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th>Time</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>
                        {% for dir in dirs %}
                            <tr>
                                <td style="font-size: 20px">
                                    <i class="ti-folder"></i>
                                </td>
                                <td>
                                    <a href="/disk/file/list/{{ dir.wholePath }}">
                                        {{ dir.displayName }}
                                    </a>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        {% for file in files %}
                            <tr>
                                <td style="font-size: 20px">
                                    {% if file.mimeType == 'image/jpeg' or file.mimeType == 'image/png' %}
                                        <i class="ti-image"></i>
                                    {% elif file.mimeType == 'application/pdf' %}
                                        <i class="ti-book"></i>
                                    {% elif file.mimeType == 'application/zip' or file.mimeType == 'application/rar' %}
                                        <i class="ti-zip"></i>
                                    {% elif file.mimeType == 'audio/mpeg' or file.mimeType == 'audio/wav' %}
                                        <i class="ti-music-alt"></i>
                                    {% elif file.mimeType == 'application/msword' %}
                                        <i class="ti-write"></i>
                                    {% else %}
                                        <i class="ti-file"></i>
                                    {% endif %}
                                </td>
                                <td>{{ file.key | cutPrefix:prefix }}</td>
                                <td>{{ file.mimeType }}</td>
                                <td>{{ file.fsize | fileSize }}</td>
                                <td>{{ file.putTime | timeStampToString }}</td>
                                <td>
                                    <a class="btn btn-success btn-fill btn-sm" href="/disk/file/download/{{ file.key }}/" download>
                                        <i class="ti-download"></i>
                                    </a>
                                    <a class="btn btn-warning btn-fill btn-sm" href="/disk/file/rename/{{ file.key }}/">
                                        <i class="ti-pencil"></i>
                                    </a>
                                    <a class="btn btn-danger btn-fill btn-sm" href="#">
                                        <i class="ti-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>


    </div>
{% endblock %}